*{margin: 0;
flex-direction: row;}
div{display: inline-block;
    text-align: center;
    width: 300px;}
div>h1{border: solid;
    margin:0px 10px 0px 10px;}
div>p{border: solid;
margin: 0;
padding: 10px;}